<h1>All Blogs</h1>

<div class="search-container">
    <form action="/blogs" method="GET">
        <input type="text" name="search" placeholder="Search blogs..." value="{{search}}" class="search-input">
        <button type="submit" class="btn">Search</button>
    </form>
</div>

{{#if blogs.length}}
    <div class="blogs-list">
        {{#each blogs}}
            <div class="card blog-card">
                <h2><a href="/blogs/{{this._id}}">{{this.title}}</a></h2>
                <p class="author">
                    {{#if this.author.avatar}}
                        <img src="{{this.author.avatar}}" alt="{{this.author.name}}" class="avatar">
                    {{/if}}
                    By {{this.author.name}}
                </p>
                <div class="blog-preview">
                    {{truncateText this.content 200}}
                </div>
                
                <div class="blog-meta">
                    <span class="date">Posted on {{formatDate this.createdAt}}</span>
                    
                    {{#if this.tags.length}}
                        <div class="tags">
                            {{#each this.tags}}
                                <a href="/blogs?tag={{this}}" class="tag">{{this}}</a>
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
                
                <a href="/blogs/{{this._id}}" class="btn">Read More</a>
            </div>
        {{/each}}
    </div>
{{else}}
    <div class="no-blogs">
        {{#if search}}
            <p>No blogs found matching "{{search}}".</p>
        {{else}}
            <p>No blogs published yet.</p>
        {{/if}}
    </div>
{{/if}}